</div>
</div>
</div>

<footer class="c-footer-main">
  <div class="o-grid o-wrapper">
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading" id="information-links">Information for</h3>
        <ul>
          <li><a href="https://www.york.ac.uk/study/" aria-labelledby="information-links prospective-students" id="prospective-students">Prospective students</a></li>
          <li><a href="https://www.york.ac.uk/students/" aria-labelledby="information-links current-students" id="current-students">Current students</a></li>
          <li><a href="https://www.york.ac.uk/staff/" aria-labelledby="information-links university-staff" id="university-staff">Staff</a></li>
          <li><a href="https://www.york.ac.uk/alumni/" aria-labelledby="information-links university-alumni" id="university-alumni">Alumni</a></li>
          <li><a href="https://www.york.ac.uk/news-and-events/for-media/" aria-labelledby="information-links press-media" id="press-media">Press and media</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading" id="about-links">About</h3>
        <ul>
          <li><a href="https://www.york.ac.uk/about/" aria-labelledby="about-links the-university" id="the-university">The University</a></li>
          <li><a href="https://www.york.ac.uk/research/" aria-labelledby="about-links university-research" id="university-research">Research</a></li>
          <li><a href="https://www.york.ac.uk/business/" aria-labelledby="about-links university-business" id="university-business">Business</a></li>
          <li><a href="https://www.york.ac.uk/global/" aria-labelledby="about-links university-global" id="university-global">Global</a></li>
          <li><a href="https://www.york.ac.uk/news-and-events/news/" aria-labelledby="about-links university-news" id="university-news">News</a></li>
          <li><a href="https://www.york.ac.uk/news-and-events/events/" aria-labelledby="about-links university-events" id="university-events">Events</a></li>
          <li><a href="https://www.york.ac.uk/york-unlimited/" aria-labelledby="about-links york-unlimited" id="york-unlimited">York Unlimited</a></li>
        </ul>
      </div>
      <div  class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Quick links</h3>
        <ul>
          <li><a href="https://www.york.ac.uk/about/departments/a-to-z/">A-Z</a></li>
          <li><a href="https://www.york.ac.uk/about/departments/">Departments</a></li>
          <li><a href="https://www.york.ac.uk/about/contact/">Contacts</a></li>
          <li><a href="https://www.york.ac.uk/about/transport-maps-parking/">Maps and directions</a></li>
          <li><a href="https://www.york.ac.uk/about/term-dates/">Term dates</a></li>
          <li><a href="https://jobs.york.ac.uk/">Job vacancies</a></li>
          <li><a href="https://www.york.ac.uk/virtual-visit/">York Virtual Visit</a></li>
        </ul>
      </div>
      <div class="o-grid__box o-grid__box--quarter o-grid__box--half@small o-grid__box--full@tiny">
        <h3 class="c-footer-main__heading">Contact us</h3>
        <p class="c-footer-main__address">University of York<br>
          York<br>
          YO10 5DD<br>
          United Kingdom<br>
        </p>
        <p>+44 (0) 1904 320 000</p>
      </div>
    </div>
    <div class="o-grid__row">
      <div class="o-grid__box o-grid__box--threequarters">
        <p>
          <a href="https://twitter.com/uniofyork" aria-label="Follow us on Twitter"><i
              class="c-icon c-icon--twitter c-icon--2x c-icon--fw" title="Follow us on Twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/universityofyork" aria-label="Like us on Facebook"><i
              class="c-icon c-icon--facebook c-icon--2x c-icon--fw" title="Like us on Facebook" aria-hidden="true"></i></a>
          <a href="https://instagram.com/uniofyork" aria-label="Follow us on Instagram"><i
              class="c-icon c-icon--instagram c-icon--2x  c-icon--fw" title="Follow us on Instagram" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/school/UniOfYork" aria-label="Follow us on LinkedIn"><i
              class="c-icon c-icon--linkedin-square c-icon--2x  c-icon--fw" title="Follow us on LinkedIn" aria-hidden="true"></i></a>
          <a href="http://www.youtube.com/universityofyorkuk" aria-label="Watch our videos on YouTube"><i
              class="c-icon c-icon--youtube-play c-icon--2x c-icon--fw" title="Watch our videos on YouTube"
              aria-hidden="true"></i></a>
        </p>
        <p>&copy; University of York <br /> <a href="https://www.york.ac.uk/about/legal-statements/">Legal statements</a> | <a href="https://www.york.ac.uk/about/legal-statements/#tab-4">Privacy</a> | <a href="https://www.york.ac.uk/about/legal-statements/cookies/">Cookies</a> | <a href="https://www.york.ac.uk/about/legal-statements/slavery-human-trafficking/">Modern slavery statement</a> | <a href="https://www.york.ac.uk/about/legal-statements/accessibility/">Accessibility</a></p>
      </div>
      <div class="o-grid__box o-grid__box--quarter">

        <!-- START -- 60th anniversary block -->
        <a href="https://www.york.ac.uk/about/60/" style="display:inline-block; margin-bottom: 18px;">
          <img src="https://www.york.ac.uk/static/data/images/60th/60th_FinalLogo_White-195px_wide.png" width="195px" height="178px" alt="60th anniversary" />
        </a>
        <!-- END -- 60th anniversary block -->

      </div>
    </div>

    <!-- global alert function -->
    <script src="https://www.york.ac.uk/static/globalalert/globalalert.js" async defer></script>
<!-- Footer start-->

  </div>
</footer>

</body>

</html><!-- Footer end-->