 <!--
  This file is included into the 403.  It provides information for a user that
  has provided authentication but has been denied access to a resource.
-->

<div class="c-alert c-alert--info">
          <div class="c-alert__content">
            You&rsquo;re logged in as <strong><!--#echo var="REDIRECT_REMOTE_USER" --></strong>.
          </div>
        </div>

          <p>Access to this page is restricted, and the account you have logged in with is not allowed to view it.</p>

          <p>To log in with a different account, close and reopen your browser and return to this page.</p>